.back-panel {
  background-color: var(--color-background-secondary);
  border-right: 1px solid var(--color-stroke);
}

.back-panel__link {
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -2px;
}
