<form class="profile-password-form">
    <div class="profile-password-form__fields">
        {{#each this.fields}}
            {{{this}}}
        {{/each}}
    </div>

    {{{this.submitButton}}}
</form>
