<form class="profile-password-form">
    <div class="profile-password-form__fields">
        {{> text-input name="oldPassword" type="password" label="Old Password" inputAttributes="required" }}
        {{> text-input name="newPassword" type="password" label="New Password" inputAttributes="required" }}
        {{> text-input name="repeatNewPassword" type="password" label="Repeat New Password" inputAttributes="required" }}
    </div>

    {{>button type="submit" label="Save"}}
</form>
