.home-page {
  display: flex;
}

.home-page__left {
  height: 100vh;
  overflow-y: auto;
  width: 310px;
  padding: 20px 10px;
  background-color: var(--color-background-secondary);
}

.home-page__main {
  flex-grow: 1;
}

.home-page__left-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.home-page__profile-link {
  align-self: flex-end;
  color: var(--color-text-secondary);
}

.home-page__create-chat {
  margin: 10px 0;
}

.home-page__create-chat-btn {
  width: 100%;
}

.home-page__placeholder-text {
  color: var(--color-text-secondary);
}


.chat-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat-view__header,
.chat-view__footer {
  padding: 10px 20px;
  background-color: var(--color-background-primary);
  border-bottom: 1px solid var(--color-stroke);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-view__footer {
  border-top: 1px solid var(--color-stroke);
  border-bottom: none;
}

.chat-view__menu-wrapper {
  position: relative;
}

.chat-view__menu-button {
  border: none;
  cursor: pointer;
  background: url("/images/icons/menu-icon.svg") no-repeat center;
  width: 32px;
  height: 32px;
  padding: 0;
}

.chat-view__feed {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}
