<div class="home-page">
    <section class="home-page__left">
        <div class="home-page__left-header">
            {{{ this.profileLink }}}
            {{{ this.searchInput }}}
        </div>
        {{! Здесь в будущем будет список чатов }}
    </section>
    <section class="home-page__main">
        <div class="central-wrapper">
            <p class="home-page__placeholder-text">Select a chat to send a message</p>
        </div>
    </section>
</div>
