<form class="auth-form">
    <header class="auth-form__header">
        <h2>{{ title }}</h2>
    </header>
    <div class="auth-form__fields">
        {{> fields}}
    </div>
    <div class="auth-form__buttons">
        {{> buttons}}
    </div>
</form>
