<form class="auth-form">
    <header class="auth-form__header">
        <h2>{{ this.title }}</h2>
    </header>
    <div class="auth-form__fields">
        {{#each this.fields}}
            {{{ this }}}
        {{/each}}
    </div>
    <div class="auth-form__buttons">
        {{#each this.buttons}}
            {{{ this }}}
        {{/each}}
    </div>
</form>
