{{#>main-layout titleAddition="Profile"}}
    {{#*inline "content"}}
        <div class="profile-layout">
            <section class="profile-layout__left">
                {{>back-panel backLink='/pages/home/home.html'}}
            </section>
            <section class="profile-layout__main">
                <div class="central-wrapper">
                    <div class="profile-page">
                        <section class="profile-page__fields">
                            {{>profile-form}}
                        </section>
                        <section class="profile-page__buttons">
                            {{#>profile-buttons}}{{/profile-buttons}}
                        </section>
                    </div>
                </div>
            </section>
        </div>
    {{/inline}}
{{/main-layout}}
