@use '@/app/style/typography';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

  &__content {
    position: relative;
    background-color: var(--color-background-primary);
    border-radius: 12px;
    padding: 24px;
    min-width: 320px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
  }

  &__title {
    @extend %text-heading-2;

    margin: 0 0 20px;
    text-align: center;
  }

  &__body {
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
