<form class="profile-data-form">

    <div class="profile-data-form__header">
        {{{this.profileAvatar}}}

        <div class="profile-data-form__nickname">
            <h3>{{this.displayName}}</h3>
        </div>
    </div>

    <div class="profile-data-form__fields">
        {{#each this.fields}}
            {{{this}}}
        {{/each}}
    </div>

    {{{this.submitButton}}}
</form>
