<div class="profile-avatar {{className}}">
    <label for="avatar" class="profile-avatar__label">
        <img src="{{avatarUrl}}" alt="Profile Avatar" class="profile-avatar__image">
    </label>
    <input type="file" id="avatar" name="avatar" class="profile-avatar__input" {{inputAttributes}}>
</div>
