$color-background-primary: #FFF;
$color-background-secondary: #FBFBFB;
$color-background-tertiary: #EFEFEF;
$color-text-primary: #1E1E1E;
$color-text-secondary: #999;
$color-primary: #3369F3;
$color-error: #F00;
$color-error-secondary: #FF2F2F;
$color-accent-primary: #E4EDFD;
$color-stroke: #EAEAEA;


:root {
  --color-background-primary: #{$color-background-primary};
  --color-background-secondary: #{$color-background-secondary};
  --color-background-tertiary: #{$color-background-tertiary};
  --color-text-primary: #{$color-text-primary};
  --color-text-secondary: #{$color-text-secondary};
  --color-primary: #{$color-primary};
  --color-error: #{$color-error};
  --color-error-secondary: #{$color-error-secondary};
  --color-accent-primary: #{$color-accent-primary};
  --color-stroke: #{$color-stroke};


  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}
